@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.header-container-top{
    background-color: #1CD1B0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container-bottom {
    background-color: #00669F;
}

.text-1{
    margin-left: 12px;
    padding: 5px;
}

.text-2{
    font-size: 30px;
    padding: 15px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #00669F;
    font-size: 2vw;
    padding: 2vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
    margin-inline: 3vw;
    overflow: visible;
}

article {
    margin-block: 15vw;
    position: relative;
    background-color: #F3F3F3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1vw;
    height: 53vw;
}

article section {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    width: 100%;
    height: 40%;
    background-image: url(../img/batman.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 7.4vw;
}

.corazon {
    all: unset;
    position: absolute;
    width: 3vw;
    top: 1vw;
    left: 1.5vw;
}

article h2 {
    font-size: 2.8vw;
    text-align: center;
    font-weight: 400;
}

article img {
    position: absolute;
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
    top: calc(40% - 6vw);
    left: calc(50% - 6vw);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

article p {
    padding: 1.6vw;
    font-size: 1.4vw;
    font-weight: 500;
    color: #333333;
}

article button {
    position: absolute;
    left: 0;
    right: 0;
    width: 13vw;
    margin-inline: auto;
    bottom: 1vw;
    background-color: #00669F;
    color: white;
    border: transparent;
    outline: transparent;
    font-size: 1.3vw;
    padding: 1.5vw 0;
    cursor: pointer;
}

footer {
    background-color: #00669F;
    width: 100%;
    color: white;
    font-size: 1.2vw;
    padding: 1vw;
}